@page "/viewpost/{postId}"
@layout MainLayout
@inherits Blog.Client.Features.ViewPost.ViewPostModel


<BlogPostPreview BlogPost=@BlogPost></BlogPostPreview>
<p>
    @((MarkupString)BlogPost.Post)
</p>