@page "/"
@layout MainLayout
@inherits Blog.Client.Features.Home.HomeModel

<div class="container-fluid">
    <div class="row">
        <div class="w-100">
            @foreach(var post in blogPosts)
            {
                <BlogPostPreview BlogPost=@post></BlogPostPreview>
            }
        </div>
    </div>
</div>