@page "/addpost"
@layout MainLayout
@inherits AddPostModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="editor">
                <input bind=@Title placeholder="Title" class="form-control" />
                <textarea class="w-100" bind-value-oninput=@Post placeholder="Write your post" rows="25"></textarea>
                <button class="btn btn-primary float-right" onclick="@SavePost">Post</button>
                <FileUploader Url=@UploadUrl />
            </div>
        </div>
        <div class="col-md-6">
            <MarkdownView Content=@Post />
        </div>
    </div>
</div>